<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Robot Members</title>
</head>

<body>

  <div class= "main">
    {{ #data }}
    <img src="{{avatar}}">
    <p>{{ name }}, {{ job }}, {{ company }}</p>
    {{ /data }}
  </div>


</body>



</html>
